
html {
    box-sizing: border-box;
   
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-color:  hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color:  hsl(214, 17%, 51%);
    line-height: 1.4;
}


#wrapper {
    border:  blue;
    position: fixed;
    inset: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 10vh 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

#card {
    border-radius: 0.5rem;
    max-width: 380px;
    overflow: hidden;
    background-color: white;
    height: fit-content;
}

#top-sec {
    height: 215px;
}

#img-container {
   
    border:  red;
    height: 100%;
   
}

#top-img {

border: green;
width: 100%;
height: 100%;
object-fit: cover;
object-position: 50% 15%;
}


#mid-sec {
    border: rgb(128, 230, 128);
    padding: 1rem 2rem;
    height: fit-content;

}

#text-box {
    margin-top: 1rem;
    margin-bottom: 0;
}

#bottom-sec{
    border:  red;
    width: 100%;
    background-color: inherit;
    height: 60px;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

#card-footer {
    border: blue;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

#avatar {
    display: initial;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    
}

#details{
    display: initial;
    border:  green;
    color: hsl(212, 23%, 69%);
    height: fit-content;
    margin-left: 10px;
    margin-right: auto;
    
}

#social-container {
    width: auto;
    display: none;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 1rem;
    margin-bottom: 6px;
}



button {
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 2rem;
    background-color:hsl(210, 46%, 95%);
}

button:hover{
    cursor: pointer;
    background-color:  hsl(219, 86%, 83%);;
    transform: scale(0.95);
}

#desktop-button {
    display: none;
    width: 45px;
    height: 45px;
}

#popup {
    display: none;
}

#share-button {
    fill: hsl(217, 19%, 35%);
}


h1 {
    padding-right: 0.3rem;
    font-size: 1.0rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

h2 {
    font-size: 0.7rem;
    border:  orange;
    margin: 0;
    color: hsl(217, 19%, 35%);
}

h3 {

    font-size: 0.8rem;
    font-weight: 300;
    color: hsl(210, 46%, 95%);
    margin:0;
    margin-right: 2rem;
   
}

p {
    font-size: 0.85rem;
    margin: 0;
}

.icon {
    margin: 0 2.5vw;
}

#details p {
    font-size: 0.7rem;
}

@media only screen and (min-width: 768px){

#wrapper {
    padding: 0vh 5dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card {
    display: grid;
    grid-template-columns: auto;
    height: fit-content;
    max-width: 865px;
    min-height: 300px;
   

}

#top-sec {
    grid-column: 1;
    grid-row: 1/3;
    width: 330px;
    height: 100%;
    overflow: hidden;
}

#top-img {

    border: green;
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 15%;
    }

#bottom-sec {
    width: 100%;
    padding-bottom: 20px;
    align-self: center;
    
}

#avatar {
    margin-left: 30px;
}


#mid-sec, #bottom-sec {
    grid-column: 2;
}

#mobile-button {
    display: none;
}

#desktop-button {
    display: initial;
}

#popup {
    border:  red;
    width: 320px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    text-align: center;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    z-index: 1;
    top: 51svh;
    left: 65svw;
}

#popup-social {
    display: flex;
    box-sizing: inherit;
    column-gap: 1em;
    
}

#triangle {
    border: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);
    position: absolute;
    bottom: -18px;
}

.icon {
    height: 25px;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    padding-right: 1.5rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    padding-right: 1.5rem;
}




}

